
.connectable-item {
  composes: ax-public-p11 from global;

  position: relative;
  display: flex;
  padding: var(--wb-connectable-item-vertical-padding) var(--wb-connectable-item-horizontal-padding);
  background-color: var(--wb-connectable-item-background);
  border: var(--wb-connectable-item-border-width) solid var(--wb-connectable-item-border-color);
  border-radius: var(--wb-connectable-item-border-radius);
  justify-content: space-between;

  .handle-container {
    position: relative;

    &.vertical {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
