
.container {
  display: flex;
  flex-flow: column;
  gap: 0.75rem;
  width: 100%;
}

.tip {
  color: var(--ax-txt-secondary-default);
}

.error {
  padding: var(--ax-public-snackbar-padding);
  color: var(--wb-import-error-color);
  background: var(--wb-import-error-background-color);
  border: var(--wb-import-error-border);
  border-radius: var(--wb-import-error-border-radius);
  /* padding: var(--ax-public-snackbar-padding) */
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
