
.container {
  display: flex;
  flex-direction: column;
  gap: var(--wb-node-section-gap);
  border-radius: var(--wb-node-section-border-radius);
  padding: var(--wb-node-section-padding);
  border: var(--wb-node-section-border-width) solid var(--wb-node-section-border-color);
  color: var(--ax-txt-primary-default);

  composes: ax-public-h10 from global;
}
